<!DOCTYPE html>
<html>
<head>
    <title>Create Invoice</title>
</head>
<body>
    <h2>Invoice Generator</h2>
    <form action="/invoice" method="post">
        <label>Customer Name:</label><br>
        <input type="text" name="customer"><br><br>

        <label>Item:</label><br>
        <input type="text" name="item"><br><br>

        <label>Price:</label><br>
        <input type="text" name="price"><br><br>

        <label>Quantity:</label><br>
        <input type="text" name="quantity"><br><br>

        <button type="submit">Generate Invoice</button>
    </form>
</body>
</html>
